<div class="row">
    <div class="col-md-4">
        <pm-product-list
            [displayCode]="(productStoreService.displayCode$ | async)!"
            [products]="(productStoreService.products$ | async)!"
            [selectedProduct]="(productStoreService.selectedProduct$ | async)!"
            [errorMessage]="(productStoreService.errorMessage$ | async)!"
            (displayCodeChanged)="productStoreService.productCodeToggle$.next()"
            (initializeNewProduct)="productStoreService.newProductInit$.next()"
            (productWasSelected)="productStoreService.currentProductSelected$.next($any($event))"
        ></pm-product-list>
    </div>
    <div class="col-md-8">
        <pm-product-edit
            [selectedProduct]="(productStoreService.selectedProduct$ | async)!"
            [errorMessage]="(productStoreService.errorMessage$ | async)!"
            (clearCurrent)="productStoreService.currentProductCleared$.next()"
            (update)="productStoreService.updateProduct$.next($any($event))"
            (delete)="productStoreService.deleteProduct$.next($any($event))"
            (create)="productStoreService.createProduct$.next($any($event))"
        ></pm-product-edit>
    </div>
</div>
