<div class="row">
    <div class="col-md-4">
        <pm-product-list
            [displayCode]="productState.snapshot.showProductCode"
            [products]="productState.snapshot.products"
            [selectedProduct]="productState.derived.selectedProduct!"
            [errorMessage]="productState.snapshot.error"
            (displayCodeChanged)="checkChanged()"
            (initializeNewProduct)="newProduct()"
            (productWasSelected)="productSelected($event)"
        ></pm-product-list>
    </div>
    <div class="col-md-8">
        <pm-product-edit
            [selectedProduct]="productState.derived.selectedProduct!"
            [errorMessage]="productState.snapshot.error!"
            (clearCurrent)="clearProduct()"
            (update)="updateProduct($event)"
            (delete)="deleteProduct($event)"
            (create)="saveProduct($event)"
        ></pm-product-edit>
    </div>
</div>
