<div class="row">
    <div class="col-md-4">
        <pm-product-list
            [displayCode]="productStore.displayCode()"
            [products]="productStore.products()"
            [selectedProduct]="productStore.selectedProduct()"
            [errorMessage]="productStore.error()"
            (displayCodeChanged)="checkChanged()"
            (initializeNewProduct)="newProduct()"
            (productWasSelected)="productSelected($any($event))"
        ></pm-product-list>
    </div>
    <div class="col-md-8">
        <pm-product-edit
            *ngIf="productStore.selectedProduct() as selectedProduct"
            [selectedProduct]="selectedProduct"
            [errorMessage]="productStore.error()"
            (clearCurrent)="clearProduct()"
            (update)="updateProduct($any($event))"
            (delete)="deleteProduct($any($event))"
            (create)="saveProduct($any($event))"
        ></pm-product-edit>
    </div>
</div>
